
.banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}
.ult{position: absolute;
    width: 300%;
    height: 400px;
}
.lun1{
    float: left;
    background-repeat: no-repeat;
    background-position: -150px;
    background-image: url(https://www.nanshig.com/data/upload/shop/editor/web-101-101-1.jpg?135);
    width: 33.33333%;
    height: 100%;
    
}
.lun2{
    float: left;
    background-repeat: no-repeat;
    background-position: -150px;
    background-image: url(https://www.nanshig.com/data/upload/shop/editor/web-101-101-3.jpg?634);
    z-index: 100;
    width: 33.33333%;
    height: 100%;
    
}

.ji{position: absolute;
    display: flex;
    top: 360px;
    left: 50%;
    margin-left: -325px;
    justify-content: center;
    z-index: 1;
    padding: 7px 8px;
    width: 616px;
    height: 20px;
}
.ji>span{width: 40px;
    margin-left: 4px;
    border-radius: 5px;
    height: 6px;
    background: rgba(0, 0, 0, 0.25);
}
.ji>span.active{
    background: #2F97F0;
}
.banner p{  width: 1200px;
    height: 100px;
    line-height: 100px;
    /*background: red;*/
    position: absolute;
    left: 50%;
    margin-left: -40%;
    margin-top: 200px;
    font-size: 100px;
    color: #fff;
    z-index: 2;
    opacity: 0;
}
p>span{
    background: #333;
}
.banner p:hover{
    opacity: 0.6;
}
p span:nth-child(1) {
    float: left;
     
}
p span:nth-child(2) {
     float: right;
      
}

.concent{
    margin: auto;
    margin-top: 15px;
    width: 1200px;
    height: 489px;
}
.ns_tab{
    width: 100%;
    height: 39px;
    border-bottom: 3px solid #e6e6e6;
}
.bn_fl{
    float: left;
    width: 64px;
    height: 36px;   
    color: #2f97f0;
    line-height: 30px;
}
.bn_fl>ul{
    display: block;
    position: relative;
    top: 6px;
    border-bottom: 3px solid #2f97f0;
}
.bn_fr{
    padding-left: 26px;
    position: relative;
    width: 112.5px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #666;
    float: right;
}
.clearfix{
    margin-top: 7px;
    display: flex;
    color: #555;
    font-size: 12px;
    line-height: 32px;
}
.list{
    width: 1200px;
    height: 409px;
    margin: auto;
}
.list>li{
    position: relative;
    float: left;
    width: 294px;
    height: 405px;
    margin-right: 8px;
    border-radius: 3px;
    border: 2px solid #FaFaFa;
}
.list>li:last-child{
    margin-right: 0;
}
.list>li:hover{
    border: 2px solid #559BD3;
    bottom: 4px;
}
.istoday{
    width: 40px;
    height: 35px;
    line-height: 35px;                      
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 12px;
    background: #45bbff;
}
.list>li>img{
    width: 290px;
    height: 290px;
}
.name{
    font-size: 12px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 276px;
    height: 20px;
    margin: 12px 0 7px 14px;
}
.price-final{
    font-size: 26px;
    color: #ff5555;
    margin-left: 14px;
}
.buy-icon{
    text-align: center;
    position: absolute;
    width: 80px;
    height: 30px;
    line-height: 29px;
    border-radius: 3px;
    right: 16px;
    bottom: 30px;
    color: #fff;
    background: #ff5555;
}
.nsgfoot-bz{
    padding: 10px;
    width: 100%;
    height: 112px;
    background-color: #f5f4f4;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.w-1200{
    width: 1200px;
    height: 90px;
    margin: auto;
}
.nsgfoot-bottom{
    width: 100%;
    height: 230px;
    background-color: #f5f4f4;
}
.bottom-box{
    width: 1200px;
    height: 100%;
    margin: auto;
}
.bottom-box-left{
    width: 180px;
    height: 197px;
    float: left;
    padding: 50px 50px 0 20px;
    text-align: center;
    

}
.bottom-app-code{
    width: 116px;
    height: 116px;
    background-image: url(https://www.nanshig.com/shop/templates/default/images/indexBottomCode.png);
    background-position: bottom;
    background-repeat: no-repeat;
}
.bottom-box-left>p{
    width: 116px;
    height: 12.8px;
    font-size: 12px;
    color: #525252;
    line-height: 13px;
}
.box-center{
    padding-top: 50px;
}
.box-center li{
    float: left;
    width: 140px;
    height: 156px;
    padding: 0 35px 0 32px;
    border-right: 1px solid #eaeaea;
}
.box-center h3{
    font-size: 18px;
    line-height: 36px;
    color: #525252;
    font-weight: 600;
}
.box-center a{
    display: block; 
    font-size: 16px;
    line-height: 40px;
    color: #535353;
}
.contact-us{
    padding: 0 35px 0 32px;
    float: left;
}
.contact-us h3{
    font-size: 18px;
    line-height: 36px;
    color: #525252;
    font-weight: 600;
}
.contact-us h3+p{
    font-size: 16px;
    line-height: 25px;
    padding-top: 5px;
}
.contact-us p{
    font-size: 12px;
    line-height: 23px;
    color: #535353;
}
.gb-okhqb-yj{
    margin-top: 6px;
    width: 95px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #d3d0d2;
    text-align: center;
    color: #535353;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
}
.attention-us{
    position: relative;
    float: left;
    padding-left: 70px;
}
.attention-us h3{
    font-size: 18px;
    line-height: 36px;
    color: #525252;
    font-weight: 600;
}
.weiXin{
    margin: 10px 20px 0 0;
    float: left;
    width: 44px;
    height: 45px;
    background: url(https://www.nanshig.com/shop/templates/default/images/indexBottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: -8px 0;
}
.weiBo{
    margin-top: 10px;
    float: left;
    width: 45px;
    height: 45px;
    background: url(https://www.nanshig.com/shop/templates/default/images/indexBottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: -8px -45px;
}
.nsgfoot-rz{ 
    width: 1200px;
    margin: 30px auto 0 auto;
}
.nsgfoot-link{
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.nsgfoot-link a{display: inline-block;
    margin: 0 10px;
    font-size: 14px;
    color: #666666;
}
.nsgfoot-copy{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.nsgfoot-copy a{
    color: #666666;
    text-decoration: none;
}
