.nsgfoot-bz{
    padding: 10px;
    width: 100%;
    height: 112px;
    background-color: #f5f4f4;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.w-1200{
    width: 1200px;
    height: 90px;
    margin: auto;
}
.nsgfoot-bottom{
    width: 100%;
    height: 230px;
    background-color: #f5f4f4;
}
.bottom-box{
    width: 1200px;
    height: 100%;
    margin: auto;
}
.bottom-box-left{
    width: 180px;
    height: 197px;
    float: left;
    padding: 50px 50px 0 20px;
    text-align: center;
    

}
.bottom-app-code{
    width: 116px;
    height: 116px;
    background-image: url(https://www.nanshig.com/shop/templates/default/images/indexBottomCode.png);
    background-position: bottom;
    background-repeat: no-repeat;
}
.bottom-box-left>p{
    width: 116px;
    height: 12.8px;
    font-size: 12px;
    color: #525252;
    line-height: 13px;
}
.box-center{
    padding-top: 50px;
}
.box-center li{
    float: left;
    width: 140px;
    height: 156px;
    padding: 0 35px 0 32px;
    border-right: 1px solid #eaeaea;
}
.box-center h3{
    font-size: 18px;
    line-height: 36px;
    color: #525252;
    font-weight: 600;
}
.box-center a{
    display: block; 
    font-size: 16px;
    line-height: 40px;
    color: #535353;
}
.contact-us{
    padding: 0 35px 0 32px;
    float: left;
}
.contact-us h3{
    font-size: 18px;
    line-height: 36px;
    color: #525252;
    font-weight: 600;
}
.contact-us h3+p{
    font-size: 16px;
    line-height: 25px;
    padding-top: 5px;
}
.contact-us p{
    font-size: 12px;
    line-height: 23px;
    color: #535353;
}
.gb-okhqb-yj{
    margin-top: 6px;
    width: 95px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #d3d0d2;
    text-align: center;
    color: #535353;
    cursor: pointer;
    font-size: 14px;
    line-height: 26px;
}
.attention-us{
    position: relative;
    float: left;
    padding-left: 70px;
}
.attention-us h3{
    font-size: 18px;
    line-height: 36px;
    color: #525252;
    font-weight: 600;
}
.weiXin{
    margin: 10px 20px 0 0;
    float: left;
    width: 44px;
    height: 45px;
    background: url(https://www.nanshig.com/shop/templates/default/images/indexBottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: -8px 0;
}
.weiBo{
    margin-top: 10px;
    float: left;
    width: 45px;
    height: 45px;
    background: url(https://www.nanshig.com/shop/templates/default/images/indexBottom.png) no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: -8px -45px;
}
.nsgfoot-rz{ 
    width: 1200px;
    margin: 30px auto 0 auto;
}
.nsgfoot-link{
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.nsgfoot-link a{display: inline-block;
    margin: 0 10px;
    font-size: 14px;
    color: #666666;
}
.nsgfoot-copy{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}
.nsgfoot-copy a{
    color: #666666;
    text-decoration: none;
}
